
.col-sm-4 {
  width: 32%;
}



.col-sm-12 {
  width: 98%;
}


body{
  background-color: #F7F7F7;
}

.section, .word_cloud {
  border:1px solid #CBC8C8;
  border-radius: 10px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  background-color: white;
  height: 300px;
  /*display: flex;
  align-items: stretch;*/
}

.section{
  margin-right: 15px;
  
}


.head_image{
  margin-left: -15px; 
  margin-right: -15px
}

.head_image img{
  margin: 0px 0px -85px 0px;
  width: 100%; 
  height: auto; 
  display:block
}

.main_panel{
  margin-left: 20px;
  margin-right: 10px;
  background-color: #F7F7F7;
  
}

.main_panel h3{
  color: #73B7F4;
  margin-bottom: 0px;
}


/* PLOTS ---------------------------------------------*/
div#character_analysis {
  margin: 0px 0px 20px 0px;
  overflow-y: auto;
  overflow-x: hidden;
}


/* To adjust screen when becomes smaller ----------- */

@media (max-width: 900px) {
  .col-sm-4 {
    width: 100%; 
  } 
}

@media (max-width: 900px) {
  .col-sm-12 {
    width: 100%; 
  } 
}


@media (max-width: 900px) {
  .head_image img {
    margin: 0px 0px 5px 0px;
  }
}

