
:root{
    --body: #0A192F;
    --green: #00CCB4;
    --blue: #01C0F0;
    --btn-background: #0B1021;
    --btn-border: #242838;
    --btn-text-grey: #7B757B;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: var(--body);
}
