
.bottom_menu .col-sm-10 {
    height: 50px;
    background: var(--bottom_menu);
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0 , 0.4);
  }

.bottom_menu .icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom_menu .col-sm-10 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom_menu .btn-default{
  background-color: transparent;
  border: transparent;
  font-size: 25px;
  padding: 0 10px;
  color: #ABB8C1;
}

.bottom_menu .btn-default:hover{
  color: #495156;
}



