
.question h3{
    color: #11BDA3;
}

.question h5{
    color: grey;
}

.question_section{
    background: var(--bottom_menu);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
}



