
/* -- Profile section -- */

.about-section {
    background-color: var(--btn-background);
    color: white;
    font-size: 20px;
    text-align: justify;
    padding: 10px 40px 30px 40px;
    margin-left: 50px;
    font-size: normal;
}

.about-section h2 {
    color: var(--blue);
    font-weight: bold;
    margin-bottom: 25px;
}

